<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap">
                <h2>PICK UR PCEE</h2>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/orderList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-store"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/addProduct"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/salesReport">
                      <i class="icon material-icons md-monetization_on"></i>
                      <span class="text">Sales Report</span>
                    </a>
                  </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-person"></i>
                        <span class="text">User</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offers"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Offers</span>
                    </a> 
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/brands"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/coupons">
                      <i class="icon material-icons md-pie_chart"></i>
                      <span class="text">Coupons</span>
                    </a>
                  </li>
            </ul>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">
              <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
                <i class="material-icons md-apps"></i>
              </button>
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link btn-icon darkmode" href="#">
                    <i class="material-icons md-nights_stay"></i>
                  </a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-item text-danger" href="/admin/logout"><i
                        class="material-icons md-exit_to_app"></i>Logout</a>
                  
                </li>
              </ul>
            </div>
          </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: <%= order._id %></p>
                    <p id="orderId" hidden> <%= order._id %></p>

                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b><%= new Date(order.orderedAt).toDateString() %></b>
                            </span> <br>
                            <!-- <small class="text-muted">Order ID: <%= order._id %></small> -->
                        </div>
                        <% if(order.orderStatus !== "Cancelled"){%>
                            <form id="statusChange">
                                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                    <select id="orderStatus"  class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                                        <option value="">Change status</option>
                                        <option value="Processing">Processing</option>
                                        <option value="Shipped">Shipped</option>
                                        <option value="Delivered">Delivered</option>
                                        <option value="Cancelled">Cancelled</option>
                                    </select>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                            <%}else{%>
                                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                    <h4 style="color: red;">Cancelled</h4>
                                </div>
                                <%} %>
                        
                       
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= order.userId.firstName %> <%= order.userId.lastName %> <br><%= order.userId.email %> <br> <%= order.userId.mobile %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                         Pay method: <%= order.paymentMethod %> <br> Status: <%= order.orderStatus %>
                                    </p>
                                    
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        Address: <%= order.selectedAddress.address %> <br>
                                        City: <%= order.selectedAddress.city %> <br><%= order.selectedAddress.state %> <br> <%= order.selectedAddress.pincode %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% order.products.forEach(product =>{%>
                                            <tr>
                                                <td>
                                                    <a class="itemside" href="#">
                                                        <div class="left">
                                                            <img src="/uploads/re-image/<%= product.productId.image[0] %>" width="40" height="40" class="img-xs" alt="Item">
                                                        </div>
                                                        <div class="info"> <%= product.productId.name %> </div>
                                                    </a>
                                                </td>
                                                <td> ₹ <%= product.offerPrice %> </td>
                                                <td> <%= product.quantity %> </td>
                                                <td class="text-end"> ₹ <%= product.offerPrice * product.quantity %> </td>
                                            </tr>
                                            <%}) %>
                                        
                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>₹ <%= order.totalPrice %></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>₹ 0.00</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">₹ <%= order.totalPrice %></b> </dd>
                                                    </dl>
                                                    <!-- <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                        </dd>
                                                    </dl> -->
                                                </article>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <%= order.paymentMethod %>
                                </p>
                            </div>
                        </div> <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Scr/ipt -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
    <script>
        document.getElementById("statusChange").addEventListener("submit",function (event){
            event.preventDefault();
            const statusSelected = document.getElementById("orderStatus").value;
            const orderId = document.getElementById("orderId").innerText.trim();
            if(statusSelected === ""){
               return showToast("No changes made","orange")
            }
            $.ajax({
                url : "/admin/orderStatus",
                type : "PATCH",
                data : {
                    statusSelected,
                    orderId
                },
                success : function ( response ){
                    if(response.success){
                        showToast("Status Changed","success");  
                        location.reload()
                    }else{
                        showToast("Error changing","error");

                    }
                },
                error : function(error) {
                    showToast("error response"+ error,"error");
                }
            })
        })


        function showToast(message, type) {
          let backgroundColor;
        
          if (type === "success") {
            backgroundColor = "green";
          } else if (type === "error") {
            backgroundColor = "red";
          } else {
            backgroundColor = "orange";
          }
        
          Toastify({
            text: message,
            duration: 2000,
            close: true,
            gravity: "top",
            position: "right",
            backgroundColor: backgroundColor,
          }).showToast();
        }
    </script>
</body>

</html>