<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap">
                <h2>PICK UR PCEE</h2>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/orderList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-store"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products/add"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/salesReport">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-person"></i>
                        <span class="text">User</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offers"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/brands"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/coupons">
                        <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
                    <i class="material-icons md-apps"></i>
                </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#">
                            <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-item text-danger" href="/admin/logout"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>

                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List</h2>
                    <p>Your orders</p>
                </div>
                <!-- <div>
                    <input type="text" placeholder="Search Orders" class="form-control bg-white" id="orderSearch">
                </div> -->
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control" id="orderSearch">
                        </div>
                    </div>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="orderTable">
                            <thead>
                                <tr>
                                    <!-- <th>#ID</th> -->
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (orders.length> 0) { %>
                                    <% orders.forEach(order=> { %>
                                        <tr>
                                            <!-- <td>0901</td> -->
                                            <td><b>
                                                    <%= order.selectedAddress.fullName %>
                                                </b></td>
                                            <td>
                                                <%= order.userId.email %>
                                            </td>
                                            <td>₹<%= order.totalPrice %>
                                            </td>
                                            <td><span class="badge rounded-pill alert-warning">
                                                    <%= order.orderStatus %>
                                                </span></td>
                                            <td>
                                                <%= new Date(order.orderedAt).toDateString() %>
                                            </td>
                                            <td class="text-end">
                                                <a href="/admin/orderDetails/<%= order._id %>"
                                                    class="btn btn-md rounded font-sm">Detail</a>

                                            </td>
                                        </tr>
                                        <% }) %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="5">No orders found.</td>
                                                </tr>
                                                <% } %>
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination -->
                    <div class="pagination-area mt-30 mb-50">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">

                                <!-- Previous -->
                                <% if (currentPage> 1) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="?page=<%= currentPage - 1 %>&search=<%= search %>">
                                            <i class="material-icons md-chevron_left"></i>
                                        </a>
                                    </li>
                                    <% } %>

                                        <!-- Pages -->
                                        <% for (let i=1; i <=totalPages; i++) { %>
                                            <li class="page-item <%= currentPage === i ? 'active' : '' %>"
                                                <%=currentPage===i ? 'aria-current="page"' : '' %>>
                                                <a class="page-link" href="?page=<%= i %>&search=<%= search %>">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% } %>

                                                <!-- Next -->
                                                <% if (currentPage < totalPages) { %>
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                            href="?page=<%= currentPage + 1 %>&search=<%= search %>">
                                                            <i class="material-icons md-chevron_right"></i>
                                                        </a>
                                                    </li>
                                                    <% } %>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script>

    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
    <script>
        let timeout;
        document.getElementById('orderSearch').addEventListener('input', function () {
            clearTimeout(timeout);
            const searchQuery = this.value;
            timeout = setTimeout(() => {
                const urlParams = new URLSearchParams(window.location.search);
                urlParams.set('search', searchQuery);
                window.location.search = urlParams.toString();
            }, 500);
        });

    </script>
</body>

</html>