<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <h2>PICK UR PCEE</h2>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/orderList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-store"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products/add"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/salesReport">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-person"></i>
                        <span class="text">User</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offers"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/brands"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/coupons">
                        <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
            </ul>

        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
                    <i class="material-icons md-apps"></i>
                </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#">
                            <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-item text-danger" href="/admin/logout"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>

                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                    <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <form method="GET" action="/admin/products" class="row align-items-center">
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select" name="category" onchange="this.form.submit()">
                                <option value="all">All Categories</option>
                                <% Categories.forEach(category=> { %>
                                    <option value="<%= category._id %>" <%=selectedFilters.category==category._id
                                        ? "selected" : "" %>>
                                        <%= category.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select" name="brand" onchange="this.form.submit()">
                                <option value="all">All Brands</option>
                                <% Brands.forEach(brand=> { %>
                                    <option value="<%= brand._id %>" <%=selectedFilters.brand==brand._id ? "selected"
                                        : "" %>>
                                        <%= brand.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select" name="status" onchange="this.form.submit()">
                                <option value="all" <%=selectedFilters.status=="all" ? "selected" : "" %>>Show All
                                </option>
                                <option value="active" <%=selectedFilters.status=="active" ? "selected" : "" %>>Active
                                </option>
                                <option value="inactive" <%=selectedFilters.status=="inactive" ? "selected" : "" %>
                                    >Inactive</option>
                            </select>
                        </div>
                    </form>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <% Products.forEach(product=> { %>
                        <article class="itemlist">
                            <div class="row align-items-center">
                                <!-- Product Image and Name -->
                                <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                    <a class="itemside" href="#">
                                        <div class="left">
                                            <img src="<%= product.image[0]%>" alt="Product Image"
                                                class="img-sm img-thumbnail">
                                        </div>
                                        <div class="info">
                                            <h6 class="mb-0">
                                                <%= product.name %>
                                            </h6>
                                        </div>
                                    </a>
                                </div>

                                <!-- Product Price (Original or Discounted) -->
                                <div class="col-lg-2 col-sm-2 col-4 col-price text-center">
                                    <span>₹<%= product.price %></span>
                                </div>

                                <div class="col-lg-2 col-sm-2 col-4 col-date text-center">
                                    <%if(product.offerId){%>
                                        <span>₹<%= product.offerPrice %></span>
                                        <%}else{%>
                                            <span>No Offer</span>
                                            <%}%>

                                </div>

                                <div class="col-lg-2 col-sm-2 col-4 col-status text-center">
                                    <% if (product.isActive) { %>
                                        <span class="badge rounded-pill alert-success">Active</span>
                                        <% } else { %>
                                            <span class="badge rounded-pill alert-danger">Inactive</span>
                                            <% } %>
                                </div>

                                <!-- Product Date Added or Updated -->


                                <!-- Action Buttons -->
                                <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                    <a href="/admin/products/edit?id=<%= product._id %>"
                                        class="btn btn-sm font-sm rounded btn-brand">
                                        <i class="material-icons md-edit"></i> Edit
                                    </a>
                                    <% if (product.isActive) { %>
                                        <form action="/admin/products/unlist/<%= product._id %>?_method=PATCH"
                                            method="POST" style="display:inline;">
                                            <button type="submit" class="btn btn-sm font-sm btn-danger rounded">
                                                Unlist
                                            </button>
                                        </form>
                                        <% } else { %>
                                            <form action="/admin/products/list/<%= product._id %>?_method=PATCH"
                                                method="POST" style="display:inline;">
                                                <button type="submit" class="btn btn-sm font-sm btn-success rounded">
                                                    List
                                                </button>
                                            </form>
                                            <% } %>

                                </div>
                            </div> <!-- row .// -->
                        </article> <!-- itemlist .// -->
                        <% }) %>
                </div>
                <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% if (currentPage> 1) { %>
                            <li class="page-item">
                                <a class="page-link"
                                    href="?page=<%= currentPage - 1 %>&category=<%= selectedFilters.category %>&brand=<%= selectedFilters.brand %>&status=<%= selectedFilters.status %>">
                                    <i class="material-icons md-chevron_left"></i>
                                </a>
                            </li>
                            <% } %>

                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? " active" : "" %>">
                                        <a class="page-link"
                                            href="?page=<%= i %>&category=<%= selectedFilters.category %>&brand=<%= selectedFilters.brand %>&status=<%= selectedFilters.status %>">
                                            <%= ("0" + i).slice(-2) %>
                                        </a>
                                    </li>
                                    <% } %>

                                        <% if (currentPage < totalPages) { %>
                                            <li class="page-item">
                                                <a class="page-link"
                                                    href="?page=<%= currentPage + 1 %>&category=<%= selectedFilters.category %>&brand=<%= selectedFilters.brand %>&status=<%= selectedFilters.status %>">
                                                    <i class="material-icons md-chevron_right"></i>
                                                </a>
                                            </li>
                                            <% } %>
                    </ul>
                </nav>
            </div>

        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
</body>

</html>