<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Electro - HTML Ecommerce Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="css/slick.css" />
	<link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/UserHome.css" />

	<!-- Sweet alert -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<style>
		.header-search form {
			display: flex;
			align-items: center;
		}

		.input {
			margin-left: 100px;
			width: 100%;
			/* Takes full width */
			padding: 10px;
			margin-right: 10px;
			border: 1px solid #ddd;
			border-radius: 25px 4px 4px 25px;
		}

		.search-btn {
			padding: 10px 15px;
			background-color: #f96001;
			color: white;
			border: none;
			cursor: pointer;
			border-radius: 4px;
		}

		@media (max-width: 768px) {
			.input {
				width: 70%;
			}

			.search-btn {
				width: 30%;
			}
		}
	</style>
</head>

<body>
	<!-- HEADER -->
	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
				</ul>
				<ul class="header-links pull-right">
					<% if(user){%>
						<li><a href="/logout">Logout</a></li>
						<li><a href="/account"><i class="fa fa-user-o"></i> My Account</a></li>

						<%}else{%>
							<li><a href="/login">Login</a></li>
							<%} %>

				</ul>
			</div>
		</div>
		<!-- /TOP HEADER -->

		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<div class="header-logo">
								<h2 style=" margin-top: 20px;;"><a href="/" class="logo">PICK UR PCEE</a></h2>
							</div>
						</div>
					</div>
					<!-- /LOGO -->

					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="header-search">
							<form>
								<input id="searchInput" class="input" placeholder="Search here"
									onkeyup="debouncedSearch()">
								<button class="search-btn">Search</button>
							</form>
						</div>
					</div>
					<!-- /SEARCH BAR -->

					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<!-- Wishlist -->
							<div>
								<a href="/wishlist">
									<i class="fa fa-heart-o"></i>
									<span>Your Wishlist</span>
								</a>
							</div>
							<!-- /Wishlist -->

							<!-- Cart -->
							<div>
								<a href="/cart">
									<i class="fa fa-shopping-cart"></i>
									<span>Your Cart</span>
									<!-- <div class="qty">3</div> -->
								</a>
							</div>
							<!-- /Cart -->

							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>
							</div>
							<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="/shop">Shop</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->


	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ASIDE -->
				<div id="aside" class="col-md-3">
					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Categories</h3>
						<div class="checkbox-filter">
							<% Categories.forEach(category=>{%>
								<div class="input-checkbox">
									<input type="checkbox" onchange="handleSort()" class="selectedCategory"
										id="<%= category.name %>" value="<%= category.name %>">
									<label for="<%= category.name %>">
										<span></span>
										<%= category.name %>
									</label>
								</div>
								<%}) %>
						</div>
					</div>
					<!-- /aside Widget -->



					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Brand</h3>
						<div class="checkbox-filter">
							<% Brands.forEach(brand=>{%>
								<div class="input-checkbox">
									<input type="checkbox" onchange="handleSort()" class="selectedBrand"
										id="<%= brand.name %>" value="<%= brand.name %>">
									<label for="<%= brand.name %>">
										<span></span>
										<%= brand.name %>
									</label>
								</div>
								<%}) %>
						</div>
					</div>
					<!-- /aside Widget -->


				</div>
				<!-- /ASIDE -->

				<!-- STORE -->
				<div id="store" class="col-md-9">
					<!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="store-sort">
							<label>
								Sort By:
								<select id="sortBy" onchange="handleSort()" class="input-select">
									<option value="latest">Latest</option>
									<option value="priceLowHigh">Price: low to high</option>
									<option value="priceHighLow">Price: high to low</option>
									<option value="a-z">aA - zZ</option>
									<option value="z-a">zZ - aA</option>
								</select>
							</label>
						</div>
					</div>
					<!-- /store top filter -->

					<!-- store products -->
					<div class="row" id="productContainer">
						<!-- product -->
						<% Products.forEach(product=>{%>
							<% if (product.isActive==true) { %>
								<% if (product.category.status==true) { %>
									<div class="col-md-4 col-xs-6">
										<a href="/product_details/<%= product._id %>">
											<div class="product">
												<div class="product-img">
													<img src="/uploads/re-image/<%= product.image[0] %>" alt="">
													<% if(product.offerId){%>
														<div class="product-label">
															<span class="sale">Offer Available!</span>
														</div>
														<%}%>
														  
													<!-- <div class="product-label">
															<span class="sale">-30%</span>
															<span class="new">NEW</span>
														</div> -->
												</div>
												<div class="product-body">
													<% if(product.stock<=0){%>
														<h6 class="product-available" style="color: red;">Currently
															unavailable</h6>
														<%}else{%>
															<h6 class="product-available" style="color: green;">
																Available</h6>

															<%} %>
																<p class="product-category">
																	<%= product.category.name %>
																</p>
																<h3 class="product-name"><a
																		href="/product_details/<%= product._id %>">
																		<%= product.name %>
																	</a></h3>
																	<% if(product.offerId){%>
																		<h3 class="product-price">
																		  ₹<%= product.price-product.offerPrice %><del class="product-old-price"
																			>₹<%= product.price %></del
																		  >
																		</h3>
																		<%}else{%>
																		  <h3 class="product-price">
																			₹<%= product.price %>
																		  </h3>
																		  <%} %>

																<div id="product" class="product-btns">
																	<% const inWishlist = wishlist && wishlist.products.some(item => item.productId.toString() === product._id.toString())%>
																<% if (inWishlist) { %>
																	<button onclick="removeWishlist('<%= product._id %>')"
																		class="add-to-wishlist"><i
																		class="fa fa-heart"></i><span
																		class="tooltipp">remove from	
																		wishlist</span></button>
																<% } else { %>
																	<button onclick="addWishlist('<%= product._id %>')"
																		class="add-to-wishlist"><i
																		class="fa fa-heart-o"></i><span
																		class="tooltipp">add to
																		wishlist</span></button>
																<% } %>
																	
																	<button class="add-to-compare"><i
																			class="fa fa-exchange"></i><span
																			class="tooltipp">add to
																			compare</span></button>
																</div>
												</div>
												<% if(product.stock <=0){%>

													<%}else{%>
														<div class="add-to-cart">
															<button class="add-to-cart-btn"
																data-product-id="<%= product._id %>"
																data-category="<%= product.category.name %>"><i
																	class="fa fa-shopping-cart"></i> add to
																cart</button>
														</div>
														<%} %>
											</div>
										</a>
									</div>
									<% } %>
										<% } %>
											<%}) %>

												<!-- /product -->
					</div>
					<!-- /store products -->

					<!-- pagination.ejs -->
					<div id="pagination" class="store-filter clearfix">
						<ul id="paginationContainer" class="store-pagination">
						<% if (currentPage> 1) { %>
							<li onclick="handleSort({page : currentPage - 1})">
								<span >
									<i class="fa fa-angle-left"></i>
								</span>
							</li>
						<% } %>

						<% for (let i=1; i <=totalPages; i++) { %>
							<li class="<%= currentPage === i %>" onclick="handleSort({page : '<%= i %>'})">
								<span >
									<%= i %>
								</span>
							</li>
						<% } %>
						</ul>
					</div>	





				</div>
				<!-- /STORE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- NEWSLETTER -->
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<p>Sign Up for the <strong>NEWSLETTER</strong></p>
						<form>
							<input class="input" type="email" placeholder="Enter Your Email">
							<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
						</form>
						<ul class="newsletter-follow">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /NEWSLETTER -->

	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">About Us</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut.</p>
							<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Categories</h3>
							<ul class="footer-links">
								<li><a href="#">Hot deals</a></li>
								<li><a href="#">Laptops</a></li>
								<li><a href="#">Smartphones</a></li>
								<li><a href="#">Cameras</a></li>
								<li><a href="#">Accessories</a></li>
							</ul>
						</div>
					</div>

					<div class="clearfix visible-xs"></div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Information</h3>
							<ul class="footer-links">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Orders and Returns</a></li>
								<li><a href="#">Terms & Conditions</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Service</h3>
							<ul class="footer-links">
								<li><a href="#">My Account</a></li>
								<li><a href="#">View Cart</a></li>
								<li><a href="#">Wishlist</a></li>
								<li><a href="#">Track My Order</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->

		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="footer-payments">
							<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
							<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
						</ul>
						<span class="copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved | This
							template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/addWishlist.js"></script>
	<script>



		const debouncedSearch = debounce(function () {
			const query = document.getElementById("searchInput").value;
			handleSort({query});
		}, 300);


		function debounce(func, delay) {
			let timeoutId;
			return function (...args) {
				if (timeoutId) clearTimeout(timeoutId);
				timeoutId = setTimeout(() => {
					func.apply(this, args);
				}, delay);
			};
		}
		let currentPage = 1;

		const handleSort = (() => {
			const searchTermMemoize = {};
			return function ({query = searchTermMemoize?.searchTerm, page = 1} = {}) {
				console.log('funtion called with', query, page)
				currentPage = page; 

				const sortOption = document.getElementById("sortBy").value;
				const categoryCheckboxes = document.getElementsByClassName("selectedCategory");
				const brandCheckboxes = document.getElementsByClassName("selectedBrand");

				if (query) {
					searchTermMemoize.searchTerm = query;
				}

				let selectedCategories = [];
				let selectedBrands = [];

				for (let i = 0; i < categoryCheckboxes.length; i++) {
					if (categoryCheckboxes[i].checked) {
						selectedCategories.push(categoryCheckboxes[i].value);
					}
				}
				for (let i = 0; i < brandCheckboxes.length; i++) {
					if (brandCheckboxes[i].checked) {
						selectedBrands.push(brandCheckboxes[i].value);
					}
				}

				// console.log(selectedCategories, selectedBrands, searchTermMemoize?.searchTerm, sortOption);

				$.ajax({
					url: "/shop_data",
					type: "GET",
					data: {
						selectedCategories,
						selectedBrands,
						searchTerm: searchTermMemoize?.searchTerm,
						sortOption,
						page: currentPage
					},
					success: function (response) {
						
						const productContainer = document.getElementById("productContainer"); 
						productContainer.innerHTML = ''; 
						if(response.Products.length > 0 ){
							response.Products.forEach(product => {
							if (product.isActive && product.category.status) { 
								const productCard = `
                    				<div class="col-md-4 col-xs-6">
                    				    <a href="/product_details/${product._id}">
                    				        <div class="product">
                    				            <div class="product-img">
                    				                <img src="/uploads/re-image/${product.image[0]}" alt="">
                    				            </div>
                    				            <div class="product-body">
                    				                <h6 class="product-available" style="color: ${product.stock <= 0 ? 'red' : 'green'};">
                    				                    ${product.stock <= 0 ? 'Currently unavailable' : 'Available'}
                    				                </h6>
                    				                <p class="product-category">${product.category.name}</p>
                    				                <h3 class="product-name"><a href="/product_details/${product._id}">${product.name}</a></h3>
													${product.offerId ? 
													`<h4 class="product-price">₹ ${product.price - product.offerPrice}<del class="product-old-price">₹ ${product.price}</del></h4>`
												: `<h4 class="product-price">₹ ${product.price}</h4>`}
                    				                
                    				                <div class="product-btns">
                    				                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                    				                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                    				                </div>
                    				            </div>
                    				            ${product.stock > 0 ? `
                    				                <div class="add-to-cart">
                    				                    <button class="add-to-cart-btn" data-product-id="${product._id}" data-category="${product.category.name}">
                    				                        <i class="fa fa-shopping-cart"></i> add to cart
                    				                    </button>
                    				                </div>
                    				            ` : ''}
                    				        </div>
                    				    </a>
                    				</div>`;
								productContainer.innerHTML += productCard;
								$("#pagination").load("/shop #pagination")
							}
						});
						}else{
							productContainer.innerHTML += `<h4 class="product-name">No Product available</h4>`
							
						}
						
						updatePagination(response.currentPage, response.totalPages);
					}
				});
			};
		})();


		function updatePagination(currentPage, totalPages) {
			const paginationContainer = document.getElementById("paginationContainer");
			paginationContainer.innerHTML = '';

			
			if (currentPage > 1) {
				paginationContainer.innerHTML += `<li>
            		<span onclick="handleSort(searchTermMemoize.searchTerm, ${currentPage - 1})">
                		<i class="fa fa-angle-left"></i>
            		</span>
        		</li>`;
			}

			for (let i = 1; i <= totalPages; i++) {
				paginationContainer.innerHTML += `
            		<li class="${currentPage === i ? 'active' : ''}">
            		    <span onclick="handleSort(searchTermMemoize.searchTerm, ${i})">${i}</span>
            	</li>`;
			}

			if (currentPage < totalPages) {
				paginationContainer.innerHTML += `<li>
            <span onclick="handleSort(searchTermMemoize.searchTerm, ${currentPage + 1})">
                <i class="fa fa-angle-right"></i>
            </span>
        </li>`;
			}
		}


		document.addEventListener("DOMContentLoaded", () => {
			document.querySelectorAll(".add-to-cart-btn").forEach(button => {
				button.addEventListener('click', function () {
					const productId = this.getAttribute('data-product-id');
					const category = this.getAttribute('data-category');
					$.ajax({
						url: "/cart",
						method: "POST",
						data: {
							productId: productId,
							category: category,
							quantity: 1
						},
						success: function (response) {
							if (response.success) {
								Swal.fire({
									html: 'Go to <a href="/cart" >cart</a>',
									title: "Product Successfully added to cart",
									icon: "success",
									confirmButtonText: "Ok, got it!",
									customClass: {
										confirmButton: "btn btn-success"
									}
								});
							} else {
								Swal.fire({
									title: "Already in cart",
									html: 'Go to <a href="/cart" >cart</a>',
									icon: "error",
									confirmButtonText: "Ok, got it!",
									customClass: {
										confirmButton: "btn btn-danger"
									}
								});
							}
						}
					})
				});
			});
		});
	</script>

</body>

</html>